click==7.1.2
fastapi==0.63.0
fastapi-utils==0.2.1
greenlet==1.0.0
h11==0.12.0
pexpect==4.8.0
ptyprocess==0.7.0
pydantic==1.8.1
regex==2021.4.4
SQLAlchemy==1.4.11
starlette==0.13.6
typing-extensions==3.7.4.3
uvicorn==0.13.4
numpy
